<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CDKEY</title>

</head>
<body>
<br>
<div style="width: 558px; height: 300px; border: 1px solid darkgrey; border-radius: 3px; margin:auto">
    <div style="width: 558px; height: 60px; border-radius: 3px; background-color: #3785b9">
        <div style="width:280px;height: 60px;font-size:45px; margin:auto; color:White">Your CDKEY</div>
    </div>
    <div style="padding: 15px 30px; font-size:20px">
        <p>Thank you for your payment. This is your <strong>{{gameName}}</strong> Bot CDKEY:</p>
        <p><strong>{{newCdkey}}</strong></p>
        <p>Happy emailing, BOT11 Team</p>
        <p>Please visit <a href = "http://www.bot11.com">www.bot11.com</a> for more information.</p>
    </div>
</div>
</body>
</html>



